/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import "@ng-select/ng-select/themes/default.theme.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graphik';
}

.ant-image-preview-img {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}

html,
body {
    height: 100%;
    width: 100%;
}

.text-primary {
    color: #3F41D1;
}

.bg-primary {
    background-color: #3F41D1;
}

.border-primary {
    border: 1px solid #3F41D1;
}

.text-red {
    color: #E598AC;
}

.bg-red {
    background-color: #E598AC;
}

/* toast */

.toast-success {
    background-color: #53cc16 !important;
    color: #fff !important;
}

.toast-error {
    background-color: #dc3545 !important;
    color: #fff !important;
}

.toast-warning {
    background-color: #ffc107 !important;
    color: #fff !important;
}

.toast-info {
    background-color: #17a2b8 !important;
    color: #fff !important;
}

.toast-progress {
    background-color: #fff !important;
}

#toast-container>div {
    border-radius: 8px !important;
}

/* select */

@layer utilities {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.ng-select .ng-select-container {
    height: 100%;
}


.ng-select.ng-select-single .ng-select-container {
    height: 48px !important;
    border-radius: 8px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    height: 100% !important;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
    height: 100% !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background: #4B4DD4 !important;
    padding: 5px !important;
    color: white !important;
    border-radius: 8px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left:hover {
    background-color: #ebebeb3a;
}

.ng-select .ng-clear-wrapper .ng-clear {
    font-size: 20px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 0px !important
}

.ng-select .ng-select-container {
    height: 100%;
}

input[type='range'].range-slider {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
}

input[type='range'].range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 26px;
    width: 26px;
    border-radius: 9999px;
    background: white;
    border: 3px solid #3b82f6;
    cursor: pointer;
}

input[type='range'].range-slider::-moz-range-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    background: white;
    border: 3px solid #3b82f6;
    cursor: pointer;
}