<div class="mx-auto md:mt-10 bg-white shadow-lg rounded-lg p-6 bg-gray-100">
    <div class="flex flex-col md:flex-row justify-between gap-4 md:items-center mb-4">
        <div class="flex flex-col md:flex-row  gap-4">
            <h1 class="text-2xl font-bold text-blue-600">User List </h1>
            <app-search-text-input #searchInput class="w-full md:w-auto" [(ngModel)]="params.search" (debounce)="params.page=1;change_params()" placeholder="Search Name"></app-search-text-input>
            <app-button (click)="filter_modal?.open(); " label="filter" color="bg-blue-500  text-white" icon="bx bx-filter-alt"></app-button>
        </div>
        <div class="relative dropdown z-20">
            <app-button tabindex="0" role="button" label="Add User" color="bg-blue-500 text-white text-nowrap" icon="bx  bx-plus" size="lg" (click)="add_dropdown.classList.toggle('hidden')"></app-button>
            <ul #add_dropdown class="dropdown-content absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg hidden">
                <li>
                    <p class="block px-4 py-2 text-gray-700 hover:bg-gray-100 cursor-pointer" (click)="form_modal.open(); add_dropdown.classList.add('hidden')">Add User</p>
                </li>
                <li>
                    <p class="block px-4 py-2 text-gray-700 hover:bg-gray-100 cursor-pointer" (click)="bulk_modal.open(); add_dropdown.classList.add('hidden')"> Add Bulk Users</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="overflow-x-auto relative print-section flex flex-col gap-5 mb-4 h-[calc(100%-360px)] md:h-[calc(100%-150px)] border border-[#3F41D1] rounded-md overflow-y-auto bg-white">
        <div class="overflow-y-auto h-full">
            <table class="table-auto text-text-color-600 w-full border-collapse  ">
                <thead class="sticky top-[0px] z-10 lg:z-[15] bg-white text-sm font-medium text-[#3F41D1] border-b border-[#CFD5F1] tracking-wider">
                    <tr>
                        <th class="px-4 py-2 text-left">Sr. No</th>
                        <th class="px-4 py-2 text-left cursor-pointer" (click)="togglesort()">First Name</th>
                        <th class="px-4 py-2 text-left cursor-pointer" (click)="togglesort()">Last Name</th>
                        <th class="px-4 py-2 text-left">Email</th>
                        <th class="px-4 py-2 text-left">Contact</th>
                        <th class="px-4 py-2 text-left">Role</th>
                        <th class="px-4 py-2 text-center">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="list?.data?.length > 0" class="text-sm font-normal text-[#1E1E1E] tracking-[0.32px] ">
                    <tr *ngFor="let item of list?.data; let i = index" class="border-b hover:bg-gray-100">
                        <td class="px-4 py-2">{{((params.page || 1) - 1) * (params.page_size || 10) + i + 1 }}</td>
                        <!-- <td class="px-4 py-2">{{ i + 1 }}</td> -->
                        <td class="px-4 py-2 capitalize">{{ item.first_name }}</td>
                        <td class="px-4 py-2 capitalize">{{ item.last_name }}</td>
                        <td class="px-4 py-2">{{ item.email }}</td>
                        <td class="px-4 py-2">{{ item.contact }}</td>
                        <td class="px-4 py-2 font-medium text-blue-600 capitalize">{{ item.role }}</td>
                        <td class="px-4 py-2 flex justify-center gap-2">
                            <app-button (click)="form_modal?.open(); open_view_model(item, i)" label="View" color="bg-green-500 text-white"></app-button>
                            <app-button (click)="form_modal?.open(); open_edit_model(item, i)" label="Edit" color="bg-yellow-500 text-white"></app-button>
                            <app-button (click)="open_delete_model(item, i)" label="Delete" color="bg-red-500 text-white"></app-button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="list?.data?.length == 0" class="flex flex-col items-center justify-center h-[calc(100%-150px)]">
                <img src="no_record.png" class="w-64 h-64 object-contain" alt="No Records" />
            </div>
        </div>
    </div>
    <br>
    <app-pagination #pagination_page [currentPage]="params.page" [totalItems]="list?.count || 0" [itemsPerPage]="params.page_size" (onPageChange)="handlePageChange($event)"></app-pagination>
</div>

<app-model #form_modal [title]="params.action === 'edit' ? 'Update User' : params.action === 'view' ? 'View User' : 'Add User'" width="md" (close_modal_clicked)="form.reset()">
    <form [formGroup]="form">
        <div class="py-2 grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 gap-4">
            <app-text-input [is_required]="true" class="w-full" [label]="'First Name'" formControlName="first_name"></app-text-input>
            <app-text-input [is_required]="true" class="w-full" [label]="'Last Name'" formControlName="last_name"></app-text-input>
            <app-text-input [is_required]="true" class="w-full" [label]="'Email'" formControlName="email"></app-text-input>
            <app-text-input [is_required]="true" class="w-full" [label]="'Contact'" formControlName="contact"></app-text-input>
            <!-- <app-text-input [is_required]="true" class="w-full" [label]="'Role'" formControlName="role"></app-text-input> -->
            <app-select-input [is_required]="true" class="w-full" [label]="'Role'" formControlName="role" [options]="[{title:'Admin',value:'Admin'},{title:'User',value:'User'},{title:'Manager',value:'Manager'}]"></app-select-input>
        </div>
        <div class="flex justify-end items-center gap-2 mt-2">
            <app-button color="border-primary text-primary" label="Cancel" type="button" (click)="form_modal?.close();form.reset()"></app-button>
            <app-button *ngIf="params.action != 'view'" color="bg-blue-500 text-black" [label]="params.action === 'edit' ? 'Update' : 'Add'" type="button" (click)="submit()"></app-button>
        </div>
    </form>
</app-model>

<app-confirmation-popup #delete confirmation_message="Are you sure you want to Delete this User" popup_title="Delete User">
    <app-button class="relative" (click)="delete_confirm()" label="Delete" color="bg-[#3F41D1] text-white"></app-button>
</app-confirmation-popup>

<app-model #bulk_modal title="Bulk Upload Users">
    <app-bulk-upload [button_title]="'Users Bulk'" [title]="'Bulk Users'" [cancel]="bulk_modal" [accepted_type]="['csv', 'xls', 'xlsx']" [max_file_sizeMB]="5" [bulk_columns]="bulk_columns" [can_have_empty_columns]="false" (submit)="bulk_upload($event.data)"></app-bulk-upload>
</app-model>

<app-model #filter_modal [title]="'Filter User'" width="md">
    <form>
        <div class="py-2 grid grid-cols-1 gap-4">
            <app-multiselect-input label="Role" [is_multiple]="false" [(ngModel)]="params.role" [ngModelOptions]="{standalone: true}" [options]="[{title:'Admin',value:'Admin'},{title:'User',value:'User'},{title:'Manager',value:'Manager'}  ]">
            </app-multiselect-input>
        </div>
        <div class="flex justify-end items-center gap-2 mt-2">
            <app-button color="border-primary text-primary" label="Clear" type="button" (click)="reset_filters();"></app-button>
            <app-button color="bg-blue-500 text-black" [label]="'Apply'" type="button" (click)="apply_filters()"></app-button>
        </div>
    </form>
</app-model>